<template>
  <main>
    <b-row>
      <Carousel />
    </b-row>

    <b-row v-if="$t('meta.holidays') === 'true'">
      <b-col
        lg="8"
        class="mx-auto"
      >
        <b-alert show>
          <div v-html="$t('holidays')"></div>
        </b-alert>
      </b-col>
    </b-row>

    <b-row class="my-4 text-center">
      <b-col sm="4">
        <a
          class="btn btn-block btn-primary btn-lg my-2"
          href="#download"
          @click="download=!download;play=false;classroom=false"
        >
          <i class="fas fa-download fa-lg fa-block-center"></i>
          <span v-html="$t('download.title')"></span>
        </a>
      </b-col>
      <b-col sm="4">
        <a
          class="btn btn-block btn-danger btn-lg my-2"
          href="#play"
          @click="download=false;play=!play;classroom=false"
        >
          <i class="fas fa-gamepad fa-lg fa-block-center"></i>
          <span v-html="$t('play.title')"></span>
        </a>
      </b-col>
      <b-col sm="4">
        <a
          class="btn btn-block btn-warning btn-lg my-2"
          href="#classroom"
          @click="download=false;play=false;classroom=!classroom"
        >
          <i class="fas fa-user fa-lg fa-block-center"></i>
          <span v-html="$t('classroom.title')"></span>
        </a>
      </b-col>
    </b-row>

    <b-row class="justify-content-center">
      <!--  Download -->
      <b-col
        v-show="download"
        id="download"
        md="8"
      >
        <h2 v-html="$t('download.title')"></h2>
        <b-alert
          show
          v-html="$t('download.warning')"
        />
        <div v-html="$t('download.md', img)"></div>
      </b-col>

      <!--  Play -->
      <b-col
        v-show="play"
        id="play"
        md="8"
      >
        <h2 v-html="$t('play.title')"></h2>
        <b-alert
          show
          v-html="$t('play.warning')"
        />
        <div v-html="$t('play.md', img)"></div>
      </b-col>

      <!--  Classroom -->
      <b-col
        v-show="classroom"
        id="classroom"
        md="8"
      >
        <h2 v-html="$t('classroom.title')"></h2>
        <b-alert
          show
          v-html="$t('classroom.warning')"
        />
        <div v-html="$t('classroom.md', img)"></div>
      </b-col>
    </b-row>

    <hr role="presentation" />

    <b-row>
      <b-col
        md="12"
        tag="h2"
        v-html="$t('what.title')"
      />

      <b-col md="8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            width="560"
            height="315"
            frameborder="0"
            allowfullscreen
            class="embed-responsive-item"
            sandbox="allow-same-origin allow-scripts"
            src="https://framatube.org/videos/embed/de4c1b8d-d2e8-4cca-8121-33bf630877f7"
          ></iframe>
        </div>
      </b-col>

      <b-col
        md="4"
        v-html="$t('what.md')"
      />
    </b-row>

    <hr role="presentation" />

    <b-row class="mt-4">
      <!-- Help -->
      <b-col md="4">
        <h2 v-html="$t('help.title')"></h2>
        <i class="fas fa-circle-question fa-3x fa-block-center text-center fc-g6 mb-3"></i>
        <div v-html="$t('help.md')"></div>
      </b-col>

      <!-- About software -->
      <b-col md="4">
        <h2 v-html="$t('software.title')"></h2>
        <i class="fas fa-cloud fa-3x fa-block-center text-center fc-g6 mb-3"></i>
        <div v-html="$t('software.md')"></div>
      </b-col>

      <!-- Garden -->
      <b-col md="4">
        <h2 v-html="$t('garden.title')"></h2>
        <i class="fas fa-leaf fa-3x fa-block-center text-center fc-g6 mb-3"></i>
        <div v-html="$t('garden.md')"></div>
        <b-button
          :href="$t('cloud.minetest')"
          variant="outline-success"
        >
          <i class="fas fa-leaf"></i>
          framacloud.org
        </b-button>
      </b-col>
    </b-row>
  </main>
</template>

<script>
import Carousel from '../components/Carousel.vue';

export default {
  components: {
    Carousel,
  },

  data() {
    return {
      download: false,
      play: false,
      classroom: false,
      img: {
        screen1: `<img class="img-fluid" src="${this.$t('baseurl')}img/onglet-reglages.png" alt="">`,
        screen2: `<img class="img-fluid" src="${this.$t('baseurl')}img/reglages-touches.png" alt="">`,
        screen3: `<img class="img-fluid" src="${this.$t('baseurl')}img/serveur-30001.png" alt="">`,
        screen4: `<img class="img-fluid" src="${this.$t('baseurl')}img/table-crafting.png" alt="">`,
      },
    };
  },
};
</script>
