<template>
  <b-col
    class="carousel-container"
    cols="12"
  >
    <b-carousel
      id="f-carousel"
      ref="f-carousel"
      class="mx-0 my-4"
      controls
      fade
      :indicators="false"
      :interval="interval"
    >
      <b-carousel-slide
        :caption-html="$t('slides[0]')"
        :img-src="`${$t('baseurl')}img/minetest-world.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[1]')"
        :img-src="`${$t('baseurl')}img/minetest-account.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[2]')"
        :img-src="`${$t('baseurl')}img/minetest-crafting.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[3]')"
        :img-src="`${$t('baseurl')}img/minetest-learn.png`"
      />
    </b-carousel>
    <p class="text-center play-pause">
      <button
        v-show="interval === 5000"
        @click="interval = 0"
      >
        <i class="fas fa-pause fa-shape-circle mt-n1 fc-g6 fa-white"></i>
        <span
          class="sr-only"
          v-html="$t('carousel.pause')"
        ></span>
      </button>
      <button
        v-show="interval !== 5000"
        @click="interval = 5000"
      >
        <i class="fas fa-play fa-shape-circle mt-n1 fc-g6 fa-white"></i>
        <span
          class="sr-only"
          v-html="$t('carousel.play')"
        ></span>
      </button>
    </p>
  </b-col>
</template>

<script>
export default {
  data() {
    return {
      interval: 5000,
    };
  },
};
</script>

<style lang="scss">
  .play-pause button {
    background: transparent !important;
    padding: 0;
    margin: 0;
  }
</style>
